header{
	background: #BBBBBB;
	padding: 20px 0;	
}

.box{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 7px;
	right: 0;
}

nav li{
	display: inline;
	margin-left: 15px;
}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}

nav a:active{
	color: #088C19;
	text-decoration: underline;
}

#banner{
	width: 100%;
}

.titulo-principal{
	font-size: 30px;
    font-weight: bold;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.principal p strong{
	font-weight: bold;
}

.titulocentralizado{
	text-align:center;
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 5px;
}

p{
	text-align:center;
	font-size: 18px;
	padding: 5px 0;
}

#missao{
	font-size:18px;
}

em strong{
	color: red;
}

.itens{
	font-style: italic;
	margin-bottom: 5px;
	font-size: 18px;
}

.itens:hover{
	color: #C78C19;
	text-decoration: underline;
}

.beneficios{
	background: #FFFFFF;
	padding: 20px;
}


.classitens{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios{
	width: 50%;
}

footer{
	text-align: center;
	background: url("Imagens/bg.jpg");
	padding: 40px 0;
}

.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}